<footer class="footer py-45 bg-light">
	<div class="container">
		<div class="row gx-lg-5 gy-5">
			<div class="col-lg-3 footer__vr">
				<a class="d-block mt-n4" href="/"><img src="/src/assets/img/logo.png" alt="" class="img-fluid header__logo"></a>
				<nav>
					<div class="ul list-unstyled d-flex flex-column gap-2">
						<li>
							<svg class="me-2" width="16" height="16">
								<use xlink:href="#ico-phone"></use>
							</svg>
							<a href="tel:+78001111111" class="footer__link">+7 (800) 111-111-1</a>
						</li>
						<li>
							<svg class="me-2" width="16" height="16">
								<use xlink:href="#ico-mail"></use>
							</svg>
							<a href="mailto:info@vimeo.ru" class="footer__link">info@vimeo.ru</a>
						</li>
						<li>
							<svg class="me-2" width="16" height="16">
								<use xlink:href="#ico-qa"></use>
							</svg>
							<a href="#" class="text-decoration-underline footer__link">Задать вопрос</a>
						</li>
						<li>
							<svg class="me-2" width="16" height="16">
								<use xlink:href="#ico-review"></use>
							</svg>
							<a href="#" class="text-decoration-underline footer__link">Оставить отзыв</a>
						</li>
					</div>
				</nav>
				<hr>
				<div class="footer__text">текст текст текст текст текст текст текст текст текст текст текст текст текст </div>
			</div>
			<div class="col-lg-9">
				<div class="row gy-4">
					<div class="col-lg-3">
						<h3 class="fw-700 fs-16">Заголовок</h3>
						<nav>
							<ul class="list-unstyled">
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название название</a></li>
								<li><a href="#" class="footer__link">Название название</a></li>
								<li><a href="#" class="footer__link">Название название</a></li>
								<li><a href="#" class="footer__link">Названиеназвание</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-lg-3">
						<h3 class="fw-700 fs-16">Заголовок Заголовок</h3>
						<nav>
							<ul class="list-unstyled">
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название название</a></li>
								<li><a href="#" class="footer__link">Название название</a></li>
								<li><a href="#" class="footer__link">Название название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-lg-3">
						<h3 class="fw-700 fs-16">Заголовок</h3>
						<nav>
							<ul class="list-unstyled">
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-lg-3">
						<h3 class="fw-700 fs-16">Заголовок</h3>
						<nav>
							<ul class="list-unstyled">
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
								<li><a href="#" class="footer__link">Название</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="politic py-4">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<a href="" class="d-block fs-14 politic__text">Политика конфиденциальности</a>
				<span class="politic__text">© Все права защищены авторским правом</span>
			 </div>
		</div>
	</div>
</div>
