<header>
	<nav class="navbar navbar-expand-lg bg-white p-0">
		<div class="container gap-4">
			<a class="" href="/"><img src="/src/assets/img/logo.png" alt="" class="img-fluid header__logo"></a>
			<div class="d-none d-lg-block vr"></div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between header__navbar pb-5 pb-lg-0" id="navbarNav">
				<div class="d-block d-lg-flex align-items-center justify-content-evenly w-100 mb-45 mb-lg-0">
					<div class="py-3">
						<div class="fw-700">Текст Текст</div>
						<div class="d-flex align-items-center">
							<svg class="me-2" width="16" height="16">
								<use xlink:href="#ico-geo"></use>
							</svg>
							<a href="#" class="fw-700 text-primary text-decoration-none">Тексттт (10)</a>
							<div class="mx-2 vr"></div>
							<a href="#" class="header__link text-secondary-dark text-decoration-none">текст (10)</a>

						</div>
					</div>
					<a href="#formModal" data-bs-toggle="modal" class="hover-dark border border-primary rounded-pill d-flex align-items-center text-dark text-decoration-none py-2 px-45 mx-auto">
						<svg class="me-2" width="32" height="31">
							<use xlink:href="#ico-letters"></use>
						</svg>
						<span class="fw-600 lh-sm">Запишитесь на <br>проверку</span>
					</a>
				</div>
				<div class="d-none d-lg-block vr"></div>
				<div class="d-block d-lg-flex align-items-center justify-content-end w-50">
					<div class="text-end mb-45 mb-lg-0">
						<a href="tel:++78001111111" class="d-block fw-700 fs-18 text-dark text-decoration-none">+7 (800) 111-111-1</a>
						<a href="tel:++78001111111" class="header__call py-1">Перезвоните мне</a>
					</div>
					<button type="button" class="btn btn-link position-relative p-0 ms-45 me-4">
						<svg class="" width="28" height="24">
							<use xlink:href="#ico-heart"></use>
						</svg>
						<span class="position-absolute top-0 start-100 translate-middle p-2 bg-primary border border-light rounded-circle badge">
							7
							<span class="visually-hidden">7</span>
						</span>
					</button>
					<button type="button" class="btn btn-link position-relative p-0">
						<svg class="" width="28" height="24">
							<use xlink:href="#ico-cart"></use>
						</svg>
						<span class="position-absolute top-0 start-100 translate-middle p-2 bg-primary border border-light rounded-circle badge">
							3
							<span class="visually-hidden">3</span>
						</span>
					</button>
				</div>
			</div>
		</div>
	</nav>
</header>
<nav class="bg-primary pt-3 pb-lg-3 d-flex flex-wrap align-items-center justify-content-center position-relative">
	<ul class="nav__list list-unstyled d-flex flex-wrap mb-0 ps-4">
		<li class="nav__item"><a href="#" class="nav__link">Текст текст</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Текст текст текст</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Текст текст</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Текст текст</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Текст текст</a></li>
		<li class="nav__item"><a href="#" class="nav__link">Текст текст</a></li>
	</ul>
	<form id="search" action="#" class="nav__search">
		<button type="submit" class="nav__button">
			<svg class="" width="24" height="24">
				<use xlink:href="#ico-search"></use>
			</svg>
		</button>
		<input type="search" id="site-search" name="search" class="nav__input"/>
	</form>
</nav>
