<section class="hero bg-light">
	<div class="container">
		<div class="row gx-lg-5">
			<div class="col-lg-7">
				<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" class="mt-3">
					<ol class="breadcrumb align-items-center">
						<li class="breadcrumb-item lh-1"><a href="/">
							<svg class="" width="16" height="16">
								<use xlink:href="#ico-home"></use>
							</svg>
						</a></li>
						<li class="breadcrumb-item lh-1 active" aria-current="page">Текст текст</li>
					</ol>
				</nav>
				<h1 class="fw-700 fs-42 mb-6">Заголовок <span class="text-primary">текст текст</span> текст текст текст текст</h1>
				<p class="hero__description mb-4">текст текст, текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.</p>
				<i class="d-block mb-4">Текст – текст текст текст  текст  текст , текст  текст  текст текст текст текст текст текст текст текст текст текст текст текст текст текст.</i>
				<a href="#formModal" data-bs-toggle="modal" class="hover-dark fw-600 fs-14 lh-sm border border-primary rounded-pill bg-white d-inline-flex align-items-center text-dark text-decoration-none text-uppercase py-3 px-4">
					Записаться на проверку
				</a>
			</div>
			<div class="col-lg-5">
				<img src="/src/assets/img/hero-img.jpg" alt="" class="img-fluid mt-45 mt-lg-0">
			</div>
		</div>
	</div>
</section>
