<div class="question py-6">
	<div class="container">
		<div class="row g-0 bg-light rounded-3">
			<div class="col-lg-7">
				<div class="p-4">
					<div class="fw-700 fs-28 mb-4">Вопрос вопрос вопрос вопрос вопрос вопрос вопрос?</div>
					<ol class="fs-18 ps-3">
						<li class="mb-1">Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст</li>
						<li class="mb-1">Текст Текст Текст Текст Текст Текст Текст</li>
						<li class="mb-1">Текст Текст Текст Текст Текст Текст Текст Текст</li>
						<li class="mb-1">Текст Текст Текст Текст Текст Текст Текст Текст Текст</li>
						<li class="mb-1">Текст Текст Текст Текст Текст Текст</li>
					</ol>
					<p class="fs-18 pe-5">Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст .</p>
				</div>
			</div>
			<div class="col-lg-5">
				<img src="/src/assets/img/question-img.jpg" alt="" class="img-fluid">
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<a href="#" class="btn-cta fw-600 fs-14 lh-sm rounded-pill d-inline-flex align-items-center text-white text-decoration-none text-uppercase py-3 ps-45 pe-3">
						Записаться на проверку
						<svg class="ms-3" width="50" height="50">
							<use xlink:href="#ico-arrow-right"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
