<div class="d-none">
	<svg fill="none" xmlns="http://www.w3.org/2000/svg">
		<symbol id="ico-geo" fill="none">
			<path d="M7.99664 0C4.46121 0 1.58322 2.87799 1.58322 6.41342C1.58322 6.81593 1.62012 7.2218 1.69727 7.61761C1.70062 7.64109 1.71404 7.71153 1.74087 7.83228C1.83815 8.26499 1.98238 8.69099 2.17022 9.09686C2.86121 10.7237 4.38071 13.2226 7.71488 15.8994C7.79874 15.9665 7.89936 16 7.99999 16C8.10062 16 8.20125 15.9665 8.28511 15.8994C11.6159 13.2226 13.1388 10.7237 13.8298 9.09686C14.0176 8.69099 14.1618 8.26834 14.2591 7.83228C14.2859 7.71153 14.2994 7.64109 14.3027 7.61761C14.3765 7.2218 14.4168 6.81593 14.4168 6.41342C14.4101 2.87799 11.5321 0 7.99664 0ZM13.4038 7.45996C13.4038 7.46667 13.4004 7.47337 13.4004 7.48008C13.3971 7.49686 13.387 7.54717 13.3702 7.62432C13.3702 7.62767 13.3702 7.62767 13.3702 7.63103C13.2864 8.00671 13.1623 8.37233 12.9979 8.72453C12.9945 8.72788 12.9945 8.73459 12.9912 8.73795C12.3639 10.2239 10.9887 12.4914 7.99664 14.9635C5.00461 12.4914 3.62934 10.2239 3.00209 8.73795C2.99873 8.73459 2.99874 8.72788 2.99538 8.72453C2.83437 8.37568 2.71027 8.00671 2.62305 7.63103C2.62305 7.62767 2.62305 7.62767 2.62305 7.62432C2.60293 7.54717 2.59622 7.49686 2.59287 7.48008C2.59287 7.47337 2.58951 7.46667 2.58951 7.4566C2.52242 7.11111 2.48888 6.76226 2.48888 6.41006C2.48888 3.37442 4.961 0.902306 7.99664 0.902306C11.0323 0.902306 13.5044 3.37442 13.5044 6.41006C13.5044 6.76562 13.4709 7.11782 13.4038 7.45996Z" fill="#76B926"/>
			<path d="M7.99665 2.41174C5.75262 2.41174 3.92453 4.23983 3.92453 6.48385C3.92453 8.72787 5.75262 10.556 7.99665 10.556C10.2407 10.556 12.0688 8.72787 12.0688 6.48385C12.0688 4.23983 10.2407 2.41174 7.99665 2.41174ZM7.99665 9.6503C6.24906 9.6503 4.83019 8.22808 4.83019 6.48385C4.83019 4.73962 6.25241 3.3174 7.99665 3.3174C9.74088 3.3174 11.1631 4.73962 11.1631 6.48385C11.1631 8.22808 9.74424 9.6503 7.99665 9.6503Z" fill="#76B926"/>
		</symbol>
		<symbol id="ico-letters" fill="none">
			<path d="M12.384 3.328H14.672V14H1.056V3.328H3.328V12H6.72V3.328H9.008V12H12.384V3.328ZM20.8841 3.328H28.6761V5.328H23.1561V7.216H25.9241C27.0228 7.216 27.8868 7.54133 28.5161 8.192C29.1455 8.84267 29.4601 9.648 29.4601 10.608C29.4601 11.568 29.1455 12.3733 28.5161 13.024C27.8868 13.6747 27.0228 14 25.9241 14H20.8841V3.328ZM25.6201 9.216H23.1561V12H25.6201C26.0681 12 26.4308 11.872 26.7081 11.616C26.9961 11.36 27.1401 11.024 27.1401 10.608C27.1401 10.1813 26.9961 9.84533 26.7081 9.6C26.4308 9.344 26.0681 9.216 25.6201 9.216Z" fill="#76B926"/>
			<path d="M1.862 28H1.134V21.238H1.862V24.178H5.698V21.238H6.426V28H5.698V24.822H1.862V28ZM18.7016 28H17.9596V22.232L15.6496 28H15.3836L13.0456 22.232V28H12.3176V21.238H13.2976L15.5096 26.726L17.6936 21.238H18.7016V28ZM30.2649 28H29.2849L26.5829 24.78L25.3229 25.97V28H24.5949V21.238H25.3229V25.102L29.3129 21.238H30.2789L27.1289 24.29L30.2649 28Z" fill="#76B926"/>
		</symbol>
		<symbol id="ico-heart" fill="none">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M13.8148 24C13.8148 24 0.453343 14.1175 0.0406199 6.85044C-0.618214 1.62671 6.87169 -2.94834 12.7509 2.36927C13.9831 3.52414 13.8283 3.52625 13.8283 3.52625C13.8283 3.52625 14.11 3.56304 15.0449 2.36927C17.5957 -1.54736 28.3104 -0.874574 27.6165 6.97604C27.0347 14.1517 13.8148 24 13.8148 24Z" fill="#E34C4C"/>
		</symbol>
		<symbol id="ico-cart" fill="none">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M23.0533 21.4397C24.8729 21.4397 26.3466 22.9085 26.3466 24.7215C26.3466 26.5312 24.8729 28 23.0533 28C21.2337 28 19.76 26.5312 19.76 24.7215C19.76 22.9085 21.2337 21.4397 23.0533 21.4397ZM9.88004 21.4397C11.698 21.4397 13.1734 22.9085 13.1734 24.7215C13.1734 26.5312 11.698 28 9.88004 28C8.06047 28 6.5867 26.5312 6.5867 24.7215C6.5867 22.9085 8.06047 21.4397 9.88004 21.4397ZM29.6401 6.68219L27.9934 11.6024C27.3841 12.9807 26.5196 14.881 24.7001 14.881H8.82616L9.02047 16.5227H29.6401L27.9934 19.8012H7.16631L6.1075 19.9247L4.1529 3.40367H1.64667C0.736062 3.40367 0 2.66925 0 1.76359C0 0.857916 0.579628 0.0230534 1.48859 0.0230534L7.06587 0L7.48412 3.54034C7.68996 3.45966 7.92378 3.40367 8.23336 3.40367H27.9934C29.813 3.40367 29.6401 4.8725 29.6401 6.68219Z" fill="#37454A" fill-opacity="0.9"/>
		</symbol>
		<symbol id="ico-search" fill="none">
			<g clip-path="url(#clip0_6177_17)">
			<path d="M23.7888 22.7761L17.9565 16.9437C19.521 15.145 20.4682 12.7982 20.4682 10.2333C20.4682 4.58714 15.8758 0 10.235 0C4.58885 0 0.00170898 4.59246 0.00170898 10.2333C0.00170898 15.8741 4.59417 20.4665 10.235 20.4665C12.7999 20.4665 15.1467 19.5193 16.9454 17.9548L22.7778 23.7871C22.9161 23.9255 23.1024 24 23.2833 24C23.4642 24 23.6505 23.9308 23.7888 23.7871C24.0656 23.5104 24.0656 23.0528 23.7888 22.7761ZM1.43319 10.2333C1.43319 5.38004 5.38175 1.43681 10.2296 1.43681C15.0829 1.43681 19.0261 5.38537 19.0261 10.2333C19.0261 15.0812 15.0829 19.035 10.2296 19.035C5.38175 19.035 1.43319 15.0865 1.43319 10.2333Z" fill="white"/>
			</g>
			<defs>
			<clipPath id="clip0_6177_17">
			<rect width="24" height="24" fill="white"/>
			</clipPath>
			</defs>
		</symbol>
		<symbol id="ico-home" fill="none">
			<g clip-path="url(#clip0_1999_19817)">
			<path d="M7.74447 1L0.610508 8.37897C0.601839 8.38732 0.595868 8.39808 0.593362 8.40986C0.590857 8.42163 0.591931 8.43389 0.596447 8.44505C0.600964 8.45621 0.608715 8.46577 0.618706 8.47249C0.628696 8.47921 0.640468 8.48278 0.652508 8.48276H2.43413V15H6.05482V10.8966H9.43413V15H13.0548V8.48276H14.8367C14.8487 8.48278 14.8605 8.47921 14.8705 8.47249C14.8805 8.46577 14.8882 8.45621 14.8927 8.44505C14.8973 8.43389 14.8983 8.42163 14.8958 8.40986C14.8933 8.39808 14.8873 8.38732 14.8787 8.37897L7.74447 1Z" stroke="#76B926" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			</g>
			<defs>
			<clipPath id="clip0_1999_19817">
			<rect width="16" height="16" fill="white"/>
			</clipPath>
			</defs>
		</symbol>
		<symbol id="ico-arrow-right" fill="none">
			<g clip-path="url(#clip0_6229_23)">
			<circle cx="25" cy="25.4373" r="25" fill="white"/>
			<g clip-path="url(#clip1_6229_23)">
			<path d="M30.2319 26.2293L23.3522 33.1089C22.9145 33.5467 22.205 33.5467 21.7675 33.1089C21.3301 32.6714 21.3301 31.9619 21.7675 31.5245L27.8551 25.4371L21.7677 19.35C21.3303 18.9124 21.3303 18.2029 21.7677 17.7655C22.2052 17.3278 22.9147 17.3278 23.3523 17.7655L30.2321 24.6451C30.4508 24.864 30.56 25.1505 30.56 25.4371C30.56 25.7239 30.4506 26.0106 30.2319 26.2293Z" fill="#37454A" fill-opacity="0.6"/>
			</g>
			</g>
			<defs>
			<clipPath id="clip0_6229_23">
			<rect width="50" height="50" fill="white" transform="translate(0 0.437256)"/>
			</clipPath>
			<clipPath id="clip1_6229_23">
			<rect width="16" height="16" fill="white" transform="translate(17 17.4373)"/>
			</clipPath>
			</defs>
		</symbol>
	</svg>
</div>
