@font-face {
	font-weight: 300;
	font-family: "proximanova_light";
	font-style: normal;
	src: url("@/assets/fonts/proximanova/proximanova_light.otf") format("opentype");
}
@font-face {
	font-weight: 400;
	font-family: "proximanova_regular";
	font-style: normal;
	src: url("@/assets/fonts/proximanova/proximanova_regular.otf") format("truetype");
}
@font-face {
	font-weight: 700;
	font-family: "proximanova_bold";
	font-style: normal;
	src: url("@/assets/fonts/proximanova/proximanova_bold.otf") format("opentype");
}
@font-face {
	font-weight: 900;
	font-family: "proximanova_black";
	font-style: normal;
	src: url("@/assets/fonts/proximanova/proximanova_black.otf") format("truetype");
}
